body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: fixed;
}

.navbar ul {
  display: flex;  
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s;
}

.navbar a:hover {
  color: rgb(93, 93, 93);
  padding-top: 50px;
}