.form-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.product-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.product-form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.product-form button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.product-form button:hover {
  background-color: #333;
}